#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:40px;
    background-color:#eeeeee;
    height:60px;
    width:1350px;
    float:center;
	text-align:center;
    padding:5px;	      
}
#section {
    width:1350px;
    float:left;
    text-align:center
    padding:10px;	 	 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}